@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;500;600&display=swap');

body {
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
    margin: 0;
}

li {
    list-style: none;
    font-size: 0.85em;
}

a {
    text-decoration: none;    
}


h1 {
    color: hsl(233, 26%, 24%);
    font-size: 2.25em;
    font-weight: 300;
}

h2 {
    color: hsl(233, 26%, 24%);
    font-weight: 300;
}

h3 {
    color: hsl(233, 26%, 24%);
    font-weight: 300;
    font-size: 1em;
}

h4 {
    color: hsl(233, 8%, 62%);
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.75;
}

p {
    color: hsl(233, 8%, 62%);
    font-size: 0.75em;
    font-weight: 300;
}



.invite p {
    background-image: linear-gradient(to right, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);
    border-radius: 4em;
    padding: 1em 2.5em;
    color: hsl(0, 0%, 100%);
    width: fit-content;
    text-align: center;
    font-size: 0.75em;
    font-weight: 600;
    display: inline-block;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 102;
    top: 0;
}

img .hamburger {
    width: 24px;
    height: 16px;
    
}

.hamburger {
   
}

.header .logo {
    display: flex;
    align-items: center;

}

.header .navigation {
    display: none;
    font-size: 0.9em;
}

.header .invite {
    display: none;
}

.content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.intro {
    background-color: hsl(0, 0%, 98%);
    justify-content: center;
    width: 100%;
    margin: 0;
}

.intro-text {
    text-align: center;
    align-items: center;
    margin: 0;
    
}

.intro .invite {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.intro-images {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 850px;
    width: 100%;
    text-align: right;
}

.intro-desktop {
    display: none;
}

.intro-mobile {
    position: relative;
    z-index: 0;
    top: 1.5em;
    margin: 0;
    max-width: 100% ;
    right: 0;
}

/* .mockups {
    height: auto;
    position: relative;
    z-index: 1;
    top: -27.5em;
    margin: 0;
    max-width: 375px;
    right: 0;
} */


.why-easybank {
    background-color: hsl(220, 16%, 96%);
    margin: 0;
    text-align: center;
    width: 100%;
    width: 100%;
}



.why-easybank p {
    line-height: 1.75em;
    font-size: 0.8em;
}

.why-easybank h3 {
    font-size: 1.1em;
}

.features {
    margin-top: 3em;
}

.blogposts {
    width: 100%;
    margin: 0;
    background-color: hsl(0, 0%, 98%);
}

.blog {
   
    background-color: hsl(0, 0%, 98%);
}


.article {
    background-color: white;
    margin-bottom: 2em;

    overflow: hidden;
}

.article img {
   width: 250px;
   border-top-left-radius: 0.25em;
   border-top-right-radius: 0.25em;
}

.article-text {

}

.article p span {
    font-size: 0.8em;
    font-weight: 300;
    margin: 0;
}

.article p {
    font-size: 0.72em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0;
}

.article h4 {
    font-size: 0.9em;
    font-weight: 400;
    margin: 0;
}

footer {
    background-color: hsl(233, 26%, 24%);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

footer .logo {
    margin-top: 2em;
}

.social-media nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-media li {
    margin: 2em 0; 
}

footer .invite p {
    margin: 0;
    text-align: center;
    margin-bottom: 1em;
}

.site-navigation li {
   
}

.site-navigation a {
    color: white;
    font-size: 0.85em;
}

.site-navigation {
    margin-bottom: 1em;
}

.attribution { font-size: 11px; text-align: center; color: hsl(220, 16%, 96%); margin-top: 2em;}
.attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (min-width: 600px) {

    .wrapper {
        padding-right: 7em;
        padding-left: 7em;
    }

    .header .logo {
        padding-left: 7em;
    }

    .header .navigation {
        display: inline-block;
    }

    .header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }

    .header li {
        padding-right: 1.75em;
        color: hsl(220, 16%, 96%);
    }

    .header a {
        color: hsl(233, 8%, 62%);
        font-weight: 300;
    }

    .header {
        width: 100%;
        text-align: left;

    }
   
    .header .invite {
        display: inline;
        padding-right: 7em;
        
    }
 
    .intro-text {
        width: 38%;
        text-align: left;
        padding-top: 11em;
        padding-bottom: 8em;
    }

    .intro-text h1 {
        font-size: 3em;
        padding: 0;
        margin-bottom: 0em;
    }

    .intro-text h4 {
        font-size: 0.95em;
        font-weight: 300;
        padding: 0;
        margin-bottom: 1em;
    }
    
    .intro-mobile {
        display: none;
        
    }

    .intro .invite {
        text-align: left;
        display: inline;
    }

    .test-desktop {
        position: absolute;
        z-index: 50;
        right: -450px;
        top: -190px;
        overflow: hidden;
        width: 
        
    }

    .test-desktop img {
        clip-path: inset(0% 35.45% 0% 0%);
    }


    .test-mockups {
        position: absolute;
        z-index: 100;
        right: -180px;
        top: -80px;
    }

    .test-mockups img {
        clip-path: inset(0% 23.53% 0% 0%);
    }
    
    .mockups {
        height: auto;
        position: relative;
        z-index: 50;
        top: -2.5em;
        left: 5em;
        margin: 0;
        max-width: 1400px;
        right: 0;
    }


    .hamburger {
        display: none;
    }

    .why-easybank {
        position: relative;
        z-index: 51;
        width: 100%;
        
    }

    .why-easybank .wrapper {
        padding-bottom: 4.5em;
        padding-top: 4em;
    }
    
    .why-easybank-title {
        text-align: left;
        width: 100%;
  
    }

    .why-easybank-title h2 {
        font-size: 2.2em;
        width: 100%;
    }

    .why-easybank-title p {
        font-size: 1em;
        width: 70%;
    }

    .features-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .features {
        text-align: left;
        width: 100%;
        margin-right: 1.75em;
    }

    .features h3 {
        font-size: 1.25em;
        font-weight: 300;
    }

    .features p {
        font-size: 0.9em;
    }

    .blogposts {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 2.75em;   
    }

    .blog {
        width: 100%;
    }

    .blog h2 {
        font-size: 2.1em;
    }

    .blog .wrapper {
        padding-bottom: 2.5em;
        padding-top: 3em;
    }
    
    .article {
        margin-right: 1.75em;
        width: 100%;
    }

    .article img {
        width: 100%;
    }

    .article-text {
        padding: 1em 1.5em 1em 1.5em;
    }

    .article h4 {
        line-height: initial;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    footer .logo {
        margin: 0;
        margin-top: 0.5em;
        margin-bottom: 1.25em;
        
    }

    .footer-navigation {
        padding-left: 7em;
        flex-grow: 1;
        
    }
    
    footer .wrapper {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 2em;
        margin-bottom: 2em;
        
    }

    .site-navigation {
        display: flex;
        flex-direction: row;
        font-size: 1.15em;
        font-weight: 300;
        flex-grow: 1.5;
        padding-left: 5em;
    }

    .site-navigation nav {
        padding-right: 6em;
        text-align: left;
        line-height: 1.75em;
    
    }

    .social-media li {
        padding-right: 0.75em;
        
    }

    .footer-bottom {
        text-align: right;
        padding-right: 7em;
        flex-grow: 1.5;
    }



}